@using WilliamBell_LTC_Application.Models.ViewModels
@model IEnumerable<ArchiveListViewModel>

<script src="~/Scripts/jquery-3.6.0.min.js"
        type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#draft-pendning-table").on("click", $("#post-accept-btn"), function () {
            sessionStorage.removeItem("title");
            sessionStorage.removeItem("id");
            sessionStorage.removeItem("content");
            sessionStorage.removeItem("synopsis");
        });

    });
</script>

@{
    ViewBag.Title = "PendingPosts";
}

<h2>Pending Posts</h2>

<h6>Here are all posts awaiting publishing, they are currently awaiting review and editding for publishing.</h6>

<table id="draft-pendning-table" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Synopsis)
        </th>
        <th>
            Date Submited
        </th>
        <th>
            Type
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.Image != null)
                {
                    <img src="@Url.Content(item.Image)" class="img-thumbnail" style="max-width:100px; max-height:100px;" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Synopsis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Posted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostType)
            </td>
            <td>
                @Html.ActionLink("Accept", "AcceptPost", "Editor", new { postId = item.PostId, postType = item.PostType }, new { @id = "post-accept-btn", @class = "btn btn-dark" })
            </td>
        </tr>
    }

</table>